<div style="background-color: black">
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	    	<%= image_tag("hero.jpg", :alt => "hero", :class => "d-block w-100") %>
	    	<div class="header-text hidden-xs">
				<div class="col-md-6 col-xs-8 w3-container w3-animate-right">
					<h1 style="font-size:6vw;">
						<span>Selamat Datang di <strong>Poppy's Kitchen</strong></span>
					</h1>
					<br>

					<h3 style="font-size:4vw;">
						Lihat menu pre-order terdekat
					</h3>
					<%= link_to '20 September 2021', root_path, class:'btn btn-info' %>
				</div><!-- /header-text -->
			</div>
		</div>
	  </div>
	</div>

	<br>
	<br>
	<div class="container w3-animate-opacity">
		<div class="row">
			<div class="col-md-7">
				<strong><h3 style="color: white">Siapa yang suka dengan Chinese Food?</h3></strong>
				<h5 style="color: #949494; margin-top:20px;">
					Ingin makan masakan Chinese food dengan harga murah dan porsi besar, ya disini tempatnya. Menghadirkan menu yang beragam, dan soal rasa pun tidak perlu diragukan.
				</h5>
				<h5 style="color: #949494; margin-bottom: 30px;">
					Dengan menu andalan Mie Ayam, yang disajikan dengan tekstur yang kenyal dan kuah yang gurih. Ditambahkan juga dengan suwiran daging ayam, bakso, dan irisan mentimun. Ada pilihan pelengkap mie ayam selain bakso yang bisa kamu pilih yaitu pangsit rebus.
				</h5>
			</div>
			<div class="col-md-5">
				<%= image_tag("profile.jpg", :alt => "hero", :class => "d-block w-100") %>
			</div>
			
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<br>
				<center>
					<strong><h2 style="color: white">Jika anda mempunyai pertanyaan?</h2></strong>
					<h3 style="color: #949494">Bicara langsung dengan saya</h3>
					<br>
					<a href="https://wa.me/628113505920?text=Saya%20tertarik%20dengan%20masakan%20yang%20anda%20jual" target="_blank"><button class='btn btn-primary'>Klik dan hubungi lewat Whatsapp</button></a>
				</center>
			</div>
		</div>
	</div>

	<div style="margin-top: 45px;">
		<!-- Footer -->
		<footer class="page-footer font-small blue">

		  <!-- Copyright -->
		  <div class="footer-copyright text-center py-3" style="color:grey">© 2021 Copyright:
		    <a href="https://instagram.com/dhanihimawan"  target="_blank"> @dhanihimawan</a>
		  </div>
		  <!-- Copyright -->

		</footer>
		<!-- Footer -->
	</div>
</div>